body{background-color: #FFFCDB}
table{background-color: #F2A663;width:1000px;margin-left: auto;margin-right: auto;}
th{font-family: "Lucida Handwriting"; font-size: 100px;color:#F6FEE0;}
td{font-family: "Papyrus";font-size: 30px;color:#F47127;border-style: solid;}
.menu{font-family: "Papyrus";font-size: 35px;color:#F5703B;text-align: center;}
.imgprin{width: 1250px;height: 700px;}
img{width: 300px;height: 200px}
.logo{width: 50px;height: 30px}

